@media only screen and (max-width: 760px) {
    .cabecera h1{
        display: none;
        a {
            padding: 0;
        }
        .menunav {
            display: flex;
            place-content: space-between;
        }
        .menunav img {
            width: 100px;
            text-align: left;
        }
    }
    #menu-check:not(:checked) ~ nav {
        display: none;
    }
    #menu-check:checked ~ nav {
        display: block;
    }
    #menu {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        border: 2px solid var(rgb(5, 99, 5));
        border-radius: 0.5em;
        position: absolute;
        right: 40px;
        top: 40px;
        &:hover {
            color: rgb(11, 128, 69);
        }
    }
    #menu-cerrar {
        display: none;
    }
    #menu-check:checked ~ label #menu-abrir{
        display: none;
    }
    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }
    .menunav {
        nav{
    position: absolute;
    z-index: 9999;
    top: 0%;
    right: 0;
    height: 100%;
    background-color: rgb(0, 95, 0);
    padding-top: .5em;
    padding-right: 5px;
    opacity: 0.8;
    color: var(--text-color-3);
    ul a {
        color: var( --text-color-3);
        background: none;
       }
    }
   }
   header .menunav nav ul, header .menunav nav ul li {
    display: block;
    text-align: right;
   }
   footer img {
    width: 300px;
    margin: 15px;
    text-align: center;
    display: block;
   }
   .carousel {
    margin: 30px;
   }
   .carousel-inner img {
    width: 100%;
    max-height: 400px;
   }
   .carousel-inner{
    height: auto;
   }
   .actividades{
    display: block;
   }
   .formaciongeneral img{
    margin: 10px;
    width: 90%;
    height: auto;
   }
   .form {
    margin: 0%;
   }
   .opiniones{
    padding: 3px;
    margin: 0%;
   }
   .puntomapa{
    position: relative;
    width: 90%;
    overflow: hidden;
    padding-bottom: 70%;
   }
   .puntomapa iframe{
    position: absolute;
    width: 100%;
    left: 5%;
    top: 5%;
    height: 100%;
   }
   .quienesomos{
    display: block;
   }
}